.main
  .main-header
    .main-header-left
      .group-name
        = @group.name
      .member-list
        - @users.each do |user|
          = user.name
    .main-header-right  
      = link_to "Edit", edit_group_path(@group), class: "main-header-btn"
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new-message
        .input-box
          = f.text_field :content, class: 'input-box-text', placeholder: 'type a message'
          = f.label :image, class: "input-image" do
            = icon("fas", "image")
            = f.file_field :image, class: "input-box-image-file"
        = f.submit "送信", class: "submit-btn"
  

  

  