.left
  .left-header
    .header-items
      .header-items-name
        = current_user.name
      .header-items-btn
        = link_to new_group_path, class: "header-items-btn-edit" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "header-items-btn-user-edit" do
          = icon('fas', 'user-edit')
  .group-list
    - current_user.groups.each do |group|
      .list
        = link_to group_messages_path(group) do
          .list-name
            = group.name
          .list-messages
            = group.show_last_message

  